@import "tailwindcss";

@theme {
  --color-scl-sky: #C3EBFA;
  --color-scl-skyLight: #EDF9FD;
  --color-scl-purple: #CFCEFF;
  --color-scl-purpleLight: #F1F0FF;
  --color-scl-yellow: #FAE27C;
  --color-scl-yellowLight: #FEFCE8;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}